* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #007bff; /* 기본 색상 */
    --primary-light-color : #5baaff; /*연한 색상*/
    --primary-hover-color: #0056b3; /* hover 색상 */
    --primary-color-white: rgba(255, 255, 255, 0.8);
    --primary-color-red: #ff5555d0;
    --primary-color-green: #00ff62d0;
    
    --marker-color-green: rgb(38, 236, 38);
    --marker-color-red: red;
    --marker-color-yellow: yellow;
    --marker-color-darkYellow: rgb(240, 240, 0);
    --marker-color-highlight: #2d89f6;
}


/* 내 위치 마커 style */
.myLocation{
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.myLocation::before{
    content:  '';
    background: #ff0000a2;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -45px;
    left: -7px;
    border-radius: 50%;
    animation: pulse 1.5s ease-in-out infinite; 
}


@keyframes pulse{
    100%{
        opacity: 0;
        transform: translate(-50%, -50%);
        width: 400%;
        height: 400%;
    }
}


/* 내 위치로 이동버튼 style */
.myLocation-container {
    position: fixed; /* 고정 위치 */
    bottom: 20px;
    right: 40px;
    z-index: 1;
    width: 35px;
    height: 35px;
}

.myLocation-container button {
    border: none; /* 테두리 없음 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 1px; /* 안쪽 여백 */
    cursor: pointer; /* 커서 포인터 */
    font-size: 16px; /* 폰트 크기 */
    background-color: var(--primary-color-white);
    height: 32px;
}

.myLocation-container button img {
    width: 30px; /* 이미지 너비 */
    height: 30px; /* 이미지 높이 */
}