.cont {
    position: fixed;
    top: 33px; 
    left: 530px; 
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 480px) {
    .cont{
        top: 120px;
        left: 10px;
    }
}


.toggle {
    position: fixed;
    display: inline-block;
    z-index: 2;
}

.toggle__input {
    display: none;
}

.toggle__label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: var(--primary-color-red);
    border: 3px solid var(--primary-hover-color);
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.block-mode .toggle__label {
    background-color: var(--primary-color-green);
}

.toggle__input:checked + .toggle__label::after {
    left: 32px;
}

.toggle__label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color-white);
    border-radius: 50%;
    transition: left 0.3s ease;
}